body {
  text-align: center;
  margin: 6%;
}
#play {
  display: flex;
  justify-content: center;
}
#firstColumn {
  margin: 5px;
}
#secondColumn {
  margin: 5px;
}
#thirdColumn {
  margin: 5px;
}
.box {
  margin: 5px;
  background-color: cadetblue;
  width: 100px;
  height: 100px;
}
.box:hover {
  background-color: rgb(252, 10, 10);
}
